<div class="navigation-bar">
  <div class="logo_container">
    <div class="logo" routerLink="/">NEKO</div>
  </div>
  <ul class="navigation-options">
    <a routerLink="/pets"><li>SHOP</li></a>
  </ul>
  <a class="navigation-misc"><img src="assets/images/basket-icon.png" width="26" height="26"></a>
  <a class="navigation-misc"><img src="assets/images/search-icon.png" width="26" height="26"></a>
  <a href="javascript:void(0);" class="icon" (click)="hideNavigationItems()">
    <i class="fa fa-bars"></i>
  </a>
</div>