<div class="navigation-bar">
  <div class="logo_container">
    <div class="logo" routerLink="/">NEKO</div>
  </div>
  <ul class="navigation-options">
    <div style="float: left;">
      <a style="padding-left: 35px;" routerLink="/pets"><li>Shop</li></a>
    </div>
    <div style="float: right;">
      <div class="dropdown">
        <div>
        <div *ngIf="username">
            <li style="padding-right: 35px;" class="user">{{ username }}</li>
          </div>  
          <div *ngIf="!username">
              <li style="padding-right: 35px;" routerLink="/sign-in" class="user">Log in</li>
          </div>  
        </div>
        <div class="dropdown-content" *ngIf="username">
          <a (click)="logOut()">Log out</a>
        </div>
      </div>
      <img  src="assets/images/search-icon.png" width="26" height="26">
    </div>
  </ul>

</div>