<app-navigation-bar></app-navigation-bar>
<h1 id="page-heading">SHOP</h1>
<div id="main-container">
  <div id="buttons-container">
    <div id="button-container">
      <a id="button">Kitties</a>
    </div>
    <div id="button-container">
      <a id="button">Doggos</a>
    </div>
    <div id="button-container">
      <a id="button">Donkos</a>
    </div>
    <div id="button-container">
        <a id="button">Dragis</a>
    </div>
    <div id="button-container">
        <a id="button">Puggies</a>
    </div>
    <div id="button-container">
        <a id="button">Gundams</a>
    </div>
    <div id="button-container">
        <a id="button">Brooms</a>
    </div>
  </div>
  <div class="wrapper-product" *ngIf="pets">
    <ul class="product-list" *ngFor="let pet of pets">
      <div class="product-list-item">
        <img src="https://i.gifer.com/tEo.gif" width="260" height="260" routerLink="/pet/{{pet.id}}">
        <p>
          {{ pet.name }} <br> {{ pet.price }}.99€ {{ pet.type }}
        </p>
      </div>
    </ul>
  </div>
  <div  class="paging-container">
    <div *ngFor='let in of counter(totalPages); let i = index'>
      <button class="paging-button" (click)="getPets(i + 1)">{{ i + 1 }}</button>
    </div>
  </div>
</div>
<!-- <div class="paging-container">
    <button class="paging-button">&laquo;</button>
    <div *ngFor='let in of counter(totalPages); let i = index'>
      <button class="paging-button" (click)="getPets(i + 1)">{{ i + 1 }}</button>
    </div>
    <button class="paging-button">&laquo;</button> -->

<div class="loading-ring-container" *ngIf="!pets">
  <div class="loading-ring"></div>
</div>