<app-navigation-bar></app-navigation-bar>
<h1 id="page-heading">SHOP</h1>
<div id="main-container">
  <div id="buttons-container">
    <div id="button-container">
      <a id="button" (click)="getPets(1, 1)">Kitties</a>
    </div>
    <div id="button-container">
      <a id="button" (click)="getPets(1, 2)">Doggos</a>
    </div>
    <div id="button-container">
      <a id="button" (click)="getPets(1, 3)">Donkos</a>
    </div>
    <div id="button-container">
        <a id="button" (click)="getPets(1, 4)">Dragis</a>
    </div>
    <div id="button-container">
        <a id="button" (click)="getPets(1, 5)">Puggies</a>
    </div>
    <div id="button-container">
        <a id="button" (click)="getPets(1, 6)">Gundams</a>
    </div>
    <div id="button-container">
        <a id="button"(click)="getPets(1, 7)">Brooms</a>
    </div>
  </div>
  
  <div class="wrapper-product" *ngIf="pets">
    <ul class="product-list" *ngFor="let pet of pets">
      <div class="product-list-item">
        <img src="https://i.gifer.com/tEo.gif" width="260" height="260" routerLink="/pet/{{pet.id}}">
        <p>
          {{ pet.name }} <br> {{ pet.price }}.99€ {{ pet.type }}
        </p>
      </div>
    </ul>
  </div>

  <nav data-pagination>
    <ul *ngIf="currentPage > 1">
      <a (click)="getPets(currentPage - 1, animalType)"><img src="assets/images/paging-arrow-left-unhover.png" width="18" height="14" onmouseover="this.src='assets/images/paging-arrow-left-hover.png'" onmouseout="this.src='assets/images/paging-arrow-left-unhover.png'"></a>
    </ul>
    <ul *ngFor='let in of counter(totalPages); let i = index'>
      <li  *ngIf="currentPage === i + 1">
        <a class=current (click)="getPets(i + 1, animalType)">{{ i + 1 }}</a>
      <li *ngIf="currentPage !== i + 1">
        <a (click)="getPets(i + 1, animalType)">{{ i + 1 }}</a>
    </ul>
    <ul *ngIf="currentPage < totalPages">
      <a (click)="getPets(currentPage + 1, animalType)"><img src="assets/images/paging-arrow-right-unhover.png" width="18" height="14" onmouseover="this.src='assets/images/paging-arrow-right-hover.png'" onmouseout="this.src='assets/images/paging-arrow-right-unhover.png'"></a>
    </ul>
  </nav>
</div>

<div class="loading-ring-container" *ngIf="!pets">
  <div class="loading-ring"></div>
</div>