@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/* Global Styles */
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: SequelSans;
  src: url(assets/fonts/SequelSansBlackBody.otf) format("opentype");
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: #f7f7f7;
  overflow-x: hidden;
}