.overview{
  color:#fff;
}

.overview h1 {
  padding-bottom: 10%;
  font-family: SequelSans;
  color: #000;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 48px;
}

.container{
  min-height: 100%;
  max-width:960px;
  padding-left:1rem;
  padding-right:1rem;
  margin: 0 auto;
  text-align:center;
  padding-top: 10%;
  padding-bottom: 5%;
}

.button-enter{
  overflow: hidden;
  height: 70px;
  transition: all .15s ease;
  font-family: "Helvetica Neue";
  letter-spacing: .07143rem;
  font-size: .85714rem;
  font-size: 20px;
  font-weight: bold;
  padding: 0 2.85714rem;
  border: 0;
  margin: 0 auto; 
  white-space: nowrap;
  text-align: center;
  background: 0 0;
  color: #000;
  background: transparent;
  z-index: 9;
  width: 23%;
  display: block;
  outline: 3px solid #000;
}

.button-enter:hover{
  background-color: #000;
  color: #fff;
  cursor: pointer;  
  border: 1px solid #000;
  outline-color: rgba(0, 0, 0, 0);
  outline-offset: 15px;  
}