.overview{
  color:#fff;
}

.overview h1 {
  padding-bottom: 5%;
}

.container{
  min-height: 100%;
  max-width:960px;
  padding-left:1rem;
  padding-right:1rem;
  margin: 0 auto;
  text-align:center;
  padding-top: 10%;
}

.button-enter{
  overflow: hidden;
  height: 70px;
  transition: all .15s ease;
  font-family: "Helvetica Neue";
  letter-spacing: .07143rem;
  font-size: .85714rem;
  font-size: 20px;
  font-weight: bold;
  padding: 0 2.85714rem;
  border: 0;
  margin: 0 auto; 
  white-space: nowrap;
  text-align: center;
  background: 0 0;
  color: #fff;
  background: transparent;
  z-index: 9;
  width: 23%;
  display: block;
  outline: 3px solid #fff;
}

.button-enter:hover{
  background-color: white;
  color: #000;
  cursor: pointer;  
  border: 1px solid #fff;
  outline-color: rgba(0, 0, 0, 0);
  outline-offset: 15px;  
}

.fullscreen-video-wrap{
  min-height: 100%;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  overflow:hidden;
  z-index:-2;
  background-color: #f53357;
}

.fullscreen-video-wrap img{
  min-height:100%;
  min-width:100%;
  z-index:-2;
}