<app-navigation-bar></app-navigation-bar>
<div *ngIf="pet">
    <h2>{{pet.name | uppercase}} Details</h2>
    <div><span>id: </span>{{pet.id}}</div>
    <div>
      <label>name:
        <input [(ngModel)]="pet.name" placeholder="name"/>
      </label>
      <br>
      <label>price:
        <input [(ngModel)]="pet.price" placeholder="price"/>
      </label>
      <br>
      <label>type:
        <input [(ngModel)]="pet.type" placeholder="type"/>
      </label>
    </div>
    <button (click)="goBack()">go back</button>
    <button (click)="save()">save</button>
</div>
