/* Overview Start */
.purchase-container{
  height:100vh;
  display:flex;
  align-items:center;
  color:#000;
  max-width:1470px;
  padding-left:1rem;
  padding-right:55rem;
  margin:auto;
  text-align:center;
}

.header-content{
  z-index:2;
}

.header-content h1{
font-family: sans-serif; 
text-align: left;
line-height: 85%;
font-weight: 800;
font-size: 55px;
margin-bottom:10px;
}

.name{
font-family: sans-serif; 
text-align: left;
line-height: 85%;
font-weight: 800;
font-size: 27px;
margin-bottom:10px;
}
.price{
font-family: sans-serif; 
text-align: left;
line-height: 85%;
font-weight: bold;
font-size: 20px;
padding-bottom: 10px;
margin-bottom:20px;
border-bottom: 2px solid rgb(136, 124, 124);
}
.button-container{
  width: 200px;
  height: 500px;
}
/* Overview End */
