<app-navigation-bar></app-navigation-bar>
<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form [formGroup]="userForm"  (ngSubmit)="register()">
			<h1>Register</h1>
			<input type="text" placeholder="Username" formControlName="username"/>
      <input type="password" placeholder="Password" formControlName="password"/>
      <input type="password" placeholder="Repeat password" formControlName="repeatPassword"/>
      <button type="submit" class="button-effect">Register</button>
      <p style="color: red;">{{ registerError }}</p>
    </form>
  </div>
</div>
