<footer class="footer">
  <div class="container">
    <div class="footer-widgets">
      <div class="footer-row">
        <div class="important-links-container">
          <aside class="widget-logo">
              <div class="logo" routerLink="/">NEKO</div>
              <p class="copyright">
                © 2019 Neko | Made by David Kalatzis
              </p>
          </aside>
        </div>
        <div class="important-links-container">
          <aside class="widget_nav_menu">
            <h4 class="widget-title">Important links</h4>
            <ul>
              <li><a>Privacy Policy | Terms of Use</a></li>
            </ul>
          </aside>
        </div>
      </div>
    </div>
  </div>
</footer>